{% extends "layouts/main.html" %}

{% block pageTitle %}
  How satisfied are you with the service?
{% endblock %}

{% block beforeContent %}
<a href="how-can-we-help" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <form class="form" action="feedback-thanks" method="post">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">How satisfied are you with the Apply to become an academy service?</h1>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="feedback-1" name="feedback" type="radio" value="very-satisfied">
        <label class="govuk-label govuk-radios__label" for="feedback-1">
          Very satisfied
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="feedback-2" name="feedback" type="radio" value="satisfied">
        <label class="govuk-label govuk-radios__label" for="feedback-2">
         Satisfied
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="feedback-3" name="feedback" type="radio" value="neither-satisfied-or-dissatisfied">
        <label class="govuk-label govuk-radios__label" for="feedback-3">
          Neither satsified or dissatisfied
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="feedback-4" name="feedback" type="radio" value="dissatisfied">
        <label class="govuk-label govuk-radios__label" for="feedback-4">
          Dissatisfied
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="feedback-5" name="feedback" type="radio" value="very-dissatisfied">
        <label class="govuk-label govuk-radios__label" for="feedback-5">
          Very dissatisfied
        </label>
      </div>

    </div>


      <div class="govuk-form-group">
        <h2 class="govuk-label--m">
          What improvements could we make?
        </h2>
        <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
        </div>
           <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 200 characters
            </div>
        </div>
    </div>
    
    <br>
    
    <button class="govuk-button" data-module="govuk-button">
      Send feedback
    </button>

  </div>
  </form>
</div>


{% endblock %}
