{% extends "layouts/main.html" %}

{% block pageTitle %}
 Thank you for your feedback
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Thank you for your feedback</h1>
    <p>Your comments and suggestions will help us to make this service better.</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="#">start or continue an application</a></li>
      <li><a class="govuk-link" href="#">read about converting to an academy</a></li>
    </ul>
  </div>
  </div>

{% endblock %}
