{% extends "layouts/main.html" %}

{% block pageTitle %}
  What problem did you notice?
{% endblock %}

{% block beforeContent %}
<a href="how-can-we-help" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <form class="form" action="problem-thanks" method="post">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="with-hint">
            What problem did you notice with the form?
          </label>
        </h1>
        <div id="with-hint-hint" class="govuk-hint">
          If you can, tell us which page you were on and what you were trying to do when you noticed the problem.
        </div>
        <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
      </div>
      <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
        You can enter up to 200 characters
      </div>
    </div>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="name">Would you like to be contacted about the problem?</label>
          </h2>
          <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="name" data-aria-controls="conditional-contact">
            <label class="govuk-label govuk-radios__label" for="contact">
              Yes
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" for="contact-name">
                What is your name?
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="contact-name" name="contact-name" type="text" spellcheck="false">
              <label class="govuk-label govuk-label--s govuk-!-margin-top-3" for="contact-email">
                What is your email address?
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="contact-email" name="contact-email" type="text" spellcheck="false">
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="no" data-aria-controls="conditional-contact-2">
            <label class="govuk-label govuk-radios__label" for="contact-2">
              No
            </label>
          </div>
          </div>
        </div>
      </fieldset>
  </div>
    
  </div>
  <button class="govuk-button" data-module="govuk-button">
    Submit details
  </button>
  </form>
</div>

{% endblock %}
