//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


.dfe-back-to-top {
    margin-bottom: 4rem;
}
.dfe-back-to-top__icon {
    display: inline-block;
    width: 0.8em;
    height: 1em;
    margin-top: -5px;
    margin-right: 10px;
    vertical-align: middle;
}

.dfe-c-print-link__button {
    border: 1px solid #b1b4b6;
    color: #1d70b8;
    cursor: pointer;
    margin: 0;
    font-size: 1rem;
}

.dfe-c-print-link__button {
    background: url(/public/icons/icon-print.png) no-repeat 10px 50%;
    background-size: 16px 18px;
    padding: 10px 10px 10px 36px;
    text-decoration: none;
    &:hover {
        background-color: govuk-colour("light-grey");
    }
    &:focus {
        outline: 3px solid transparent;
        color: $govuk-link-active-colour;
        background-color: $govuk-focus-colour;
        box-shadow: 0 -2px $govuk-focus-colour, 0 4px #0b0c0c;
        text-decoration: none;
        background-color: $govuk-focus-colour;
        border-color: transparent;
    }
}


@media (min-width: 40.0625em) {
    .app-task-list__items {
        padding-left: 0;
    }
}

.a2b-table--border-top {
    border-top: 1px solid #b1b4b6;
}

@import "20/navigation";