{% extends "layouts/main.html" %}

{% set bodyClasses = "sprint-20" %}

{% block header %}
{{ govukHeader({
  serviceName: "Apply to become an academy",
  serviceUrl: "#"
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: '<a class="govuk-link" href="#">Get help or give feedback on this service (opens in a new tab) </a>'
}) }}
<a href="#" onclick="javascript:window.history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<h1 class="govuk-heading-xl">
  Which trust will the school{% if(data['do-you-want-to-apply-to-convert-other-schools'] == 'yes' or data['what-are-you-applying-to-do'] == 'form-a-new-trust-with-other-schools' ) %}s{% endif %} join?
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="" method="post" novalidate>
      
      {{ govukInput({
        label: {
          text: "Search",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        id: "school-name",
        name: "school-name",
        value: "Wise Owl Trust"
      }) }}
  
       <a href="is-this-the-correct-trust" class="govuk-button" data-module="govuk-button">Continue</a>

    </form>
  </div>
</div>
{% endblock %}
