{% extends "layouts/main.html" %}

{% block pageTitle %}
  About the conversion - Apply to become an academy
{% endblock %}


{% block content %}

<span class="govuk-caption-l">Oasis Academy Brislington</span>
<h1 class="govuk-heading-l">About the conversion</h1>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
<h2 class="govuk-heading-m">The school joining the trust</h2>
{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        text: "The name of the school"
      },
      value: {
        text: "Oasis Academy Brislington"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "the name of the school"
          }
        ]
      }
    }
  ]
}) }}


{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
<h2 class="govuk-heading-m">Contact details</h2>
{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        text: "Name of the headteacher"
      },
      value: {
        text: "Sarah Philips"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name of the headteacher"
          }
        ]
      }
    },
    {
      key: {
        text: "Headteacher's email address"
      },
      value: {
        text: "sphillips@email.edu"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "headteacher's email address"
          }
        ]
      }
    },
    {
      key: {
        text: "Headteacher's telephone number"
      },
      value: {
        html: "012 3456 7890"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "headteacher's telephone number"
          }
        ]
      }
    },
    {
      key: {
        text: "Name of the chair of the governing body"
      },
      value: {
        html: 'Robert Bloggs'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name of the chair of the governing body"
          }
        ]
      }
    },
    {
      key: {
        text: "Chair's email address"
      },
      value: {
        html: 'rbloggs@email.edu'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "chair's email address"
          }
        ]
      }
    },
    {
      key: {
        text: "Chair's telephone number"
      },
      value: {
        html: '098 7654 3210'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "chair's telephone number"
          }
        ]
      }
    },
    {
      key: {
        text: "Who is the main contact for the conversion"
      },
      value: {
        html: 'The headteacher'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "the main contact for the conversion"
          }
        ]
      }
    },
    {
      key: {
        text: "Approver's full name"
      },
      value: {
        html: 'Courtney Evans'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "approver's full name"
          }
        ]
      }
    },
    {
      key: {
        text: "Approver's email address"
      },
      value: {
        html: 'cevans@email.edu'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "approver's email address"
          }
        ]
      }
    }
  ]
}) }}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
<h2 class="govuk-heading-m">Date of conversion</h2>
{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        text: "Do you want the conversion to happen on a particular date?"
      },
      value: {
        html: "Yes<br><br>Preferred Date <br>1 March 2022<br><br>Explain why you want to convert on this date? <br>You have not added any information"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "the date of the conversion"
          }
        ]
      }
    }
  ]
}) }}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
<h2 class="govuk-heading-m">Reasons for joining</h2>
{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        text: "Why does the school want to join this trust in particular?"
      },
      value: {
        text: "It has a good plan for the development of students in the next 10 years"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "why does the school want to join this trust"
          }
        ]
      }
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and return to your application",
  href: "/index.html"
}) }}

{% endblock %}

