{% extends "layouts/main.html" %}

{% block pageTitle %}
  Accessibility statement - TRAMS
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Accessibility statement for the Trust and Academy Management Service (TRAMS) website
      </h1>

      <p>TRAMS is run by the Service Delivery Division (SDD) at the Department for Education (DfE).</p>

      <p>We want as many people as possible to be able to use this service.</p>

      <p>That means you should be able to:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader
             (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>

      <p><a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on 
    making your device easier to use if you have a disability.</p>
    
    <h2 class="govuk-heading-l">
        How accessible this website is
      </h2>

      <p>This website is <b>not</b> compliant with  
        <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a>.
      </p>

      <p>You may have problems using:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>checkboxes and button labels</li>
        <li>links</li>
        <li>menus and windows</li>
        <li>areas where maps or charts are used</li>
        <li>backgrounds and colours</li>
      </ul>

    <h2 class="govuk-heading-m">Non-compliance with the accessibility regulations</h2>

    <p>We have listed content that is inaccessile here along with any regulation it does not comply with.</p>

      <ol class="govuk-list govuk-list--number">
        <li>Some form elements and controls do not have names that are descriptive 
          to users of assistive technology. This fails WCAG 2.1 success criterion 1.1.1 (Non-text Content) 
          and WCAG 2.1 success criterion 4.1.2 (Name, Role, Value).</li>
         <li>Some checkboxes are hidden from screen reading software. This fails WCAG 2.1 success
             criterion 1.1.1 (Non-text Content) and WCAG 2.1 success criterion 4.1.2 (Name, Role, Value).</li>
        <li>There are images with links that do not work with all screen readers. 
          This fails WCAG 2.1 success criterion 1.1.1 (Non-text Content).</li>
        <li>Keyboard control is not predictable. This fails WCAG 2.1 success criterion 2.1.1 (Keyboard) and 
          WCAG 2.1 success criterion 2.4.7 (Focus Visible).</li>
        <li>Some areas are inaccessible when only using a keyboard. This fails WCAG 2.1 success criterion 2.1.1 (Keyboard).</li>
        <li>Although there is an option to 'skip' to the beginning of content, it is only visible to users of 
          screen reading software. This fails WCAG 2.1 success criterion 2.4.1 (Bypass Blocks).</li>
        <li>Some content does not contain valid CSS or HTML tags or attributes. 
          This fails WCAG 2.1 success criterion 4.1.1 (Parsing).</li>
        <li>When using a keyboard, the tab key does not move the focus in the correct order. 
          This fails WCAG 2.1 success criterion 2.4.3 (Focus Order).</li> 
        <li>Text becomes obscured or difficult to navigate when zoomed in. This fails WCAG 2.1 success criterion 1.4.4 (Resize text).</li> 
        <li>Foreground and background colours are not specified. This fails WCAG 2.1 success criterion 1.4.3 (Contrast).</li>
        <li>Some elements do not display a focus when using keyboard navigation. This fails WCAG 2.1 success criterion 2.4.7 (Focus visible).</li>
      </ol>

  <h2 class="govuk-heading-l">What we're doing to improve accessibility</h2>

    <p>We are currently gathering information about the needs of our users.</p>

    <p>The data we collect will help us decide how to best meet their needs in an accessible way.</p>

    <p>We will update this page with our findings, or a predicted date of compliance no later than June 2022.</p>

   <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>

    <p>This statement was prepared on 17 March 2022. It was last reviewed on 17 March 2022.</p>

</div>
  </div>
{% endblock %}
