{% extends "layouts/main.html" %}

{% block pageTitle %}
  Privacy statement - Apply to become an academy
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Apply to become an academy privacy notice
      </h1>

      <p>The Apply to become an academy service is run by the Department for Education (DfE), which is also the Data Controller for any information we collect.</p>

      <p>This notice explains how we use your data.</p>
          

      <h2 class="govuk-heading-m">
        What data we collect
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>school headteacher details including their name, email address and phone number</li>
        <li>governing body details including the name of the chair, their email address and their phone number</li>
      </ul>

      <p>We also use <a class="govuk-link" href="https://services.signin.education.gov.uk/">the DfE Sign-in service</a> to capture the name of the 
        author of the application, as well as their role and email address.</p>
    
    <h2 class="govuk-heading-m">
        Why we use it
    </h2>

      <p>We capture this data so that we can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>consider a school's application to become an academy</li>
        <li>coordinate teams that are involved in the conversion process</li>
        <li>contact you about your application</li>
        <li>invite people to participate in user research</li>
        <li>get feedback on the service</li>
      </ul>

    <h2 class="govuk-heading-m">Who we share your data with</h2>

      <p>We sometimes need to make the information we collect from you available to our partners.</p>

      <p>These include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency">The Education and Skills Funding Agency</a></li>
          <li><a class="govuk-link" href="https://www.gov.uk/government/collections/advisory-boards">advisory board</a> members</li>
        </ul>

    <p>For the purpose of improving usability and accessibility, we also:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>share data with a contracted third party</li>
      <li>capture anonymised Google Analytics data</li>
    </ul>

    <p>We may share your information with the police or other authorities if required by law.</p>

  <h2 class="govuk-heading-m">How long we keep your data</h2>

    <p>We will hold your data for 6 years.</p>

  <h2 class="govuk-heading-m">Our legal basis</h2>

    <p>The law says that we are allowed to use the data you provide to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>perform a public task as part of our function as a department</li>
    </ul>

  <h2 class="govuk-heading-m">Your rights</h2>

    <p>By law you are entitled to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>ask to see a copy of any information we hold about you - this is called a Subject Access Request (SAR)</li>
      <li>ask for mistakes in your data to be corrected</li>
      <li>ask us to stop processing it</li>
      <li>ask us to delete it</li>
    </ul>

    <p>If you ask us to delete or stop processing data relating to an ongoing application, we may not be able to proceed with the conversion.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">DfE's Personal Information Charter</a>
       contains information about other data it holds and how to make an SAR.</li>
      <li><a class="govuk-link" href="https://ico.org.uk/">The Information Commissioner's Office</a> can tell you more about your data protection rights.</li>
    </ul>

  <h2 class="govuk-heading-m">Contact us or make a complaint</h2>

    <p>If you have any questions about the way we use your data, or if you want to make a complaint, you can:</p>

     <ul class="govuk-list govuk-list--bullet">
       <li><a class="govuk-link" href="https://www.gov.uk/contact-dfe">contact DfE</a> directly using 'Apply to become an academy' as a reference, or</li>
       <li>write to our Data Protection Officer (DPO)</li>
    </ul>

    <div class="contact">
      <p>Data Protection Officer<br>
      Department for Education<br>
      Piccadilly Gate<br>
      Store Street<br>
      Manchester<br>
      United Kingdom<br>
      M1 2WD</p>
    </div>

  <h2 class="govuk-heading-m">Changes to this policy</h2>

    <p>We recommend that you revisit this page from time to time as we sometimes need to update this information.</p>

    <p>Last updated 18 March 2022</p>

</div>
  </div>
{% endblock %}
