{% extends "layouts/main.html" %}

{% block pageTitle %}
  Trust consent - Apply to become an academy
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="/index.html" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
         <span class="govuk-caption-l">St George's school, Harpenden Academy Trust (step 1 of 3)</span>
          Trust consent
        </h1>
        <h2 class="govuk-heading-m">Upload evidence that the trust consents to the school joining</h2>
        <p class="govuk-body">
        This can be either a letter of consent from the trust, or the minutes of their board meeting.
        </p>
        {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
        {{ govukInsetText({
        text: "The application cannot be submitted without this. You can carry on the application and come back to this later."
        }) }}
      

{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{{ govukFileUpload({
  id: "file-upload-1",
  name: "file-upload-1",
  label: {
    text: "Upload a file"
  },
  hint: {
    text: "File formats supported: docx, doc, pptx, pdf."
  }
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Upload file",
    href: "/upload2.html"
  }) }}

  {{ govukButton({
    text: "Continue without saving",
    href: "/index.html",
    classes: "govuk-button--secondary"
  }) }}
</div>

<br>
<a href="/index.html" class="govuk-back-link">Back</a>
</div>
</div>
</main>
</div>
{% endblock %}
