{% extends "layouts/main.html" %}

{% set bodyClasses = "sprint-20" %}

{% block header %}
{{ govukHeader({
  serviceName: "Apply to become an academy",
  serviceUrl: "#"
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: '<a class="govuk-link" href="#">Get help or give feedback on this service (opens in a new tab) </a>'
}) }}
<a href="#" onclick="javascript:window.history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<h1 class="govuk-heading-xl">
  Are these details correct?
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['owner-name']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="what-is-this-persons-name">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Role
        </dt>
        <dd class="govuk-summary-list__value">
             {{data['what-is-your-role']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="what-is-this-persons-role">
            Change<span class="govuk-visually-hidden"> role</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
           {{data['owner-email-address']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="what-is-this-persons-email-address">
            Change<span class="govuk-visually-hidden"> email address</span>
          </a>
        </dd>
      </div>

    </dl>



    
   
    

<div class="govuk-button-group govuk-!-margin-top-8">
        <a href="../jam/what-is-your-role" class="govuk-button" data-module="govuk-button">Send invite</a>
       <!-- <a class="govuk-link" onclick="javascript:window.history.back();" href="#">No, search again</a> -->
  </div>
</div>
{% endblock %}
