{% extends "layouts/main.html" %}

{% block pageTitle %}
Application summary – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Application summary</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Application to join a multi-academy trust</h1>
    <ol class="govuk-list govuk-!-margin-bottom-9 govuk-body-l">
    <li><strong>School: </strong>Wise Owl Primary School (12345)</li>
    <li><strong>Trust: </strong> Wise Owl Trust</li>
  </ol>

  </div>
</div>

<aside class="govuk-!-padding-bottom-6" role="complementary">
  <nav aria-label="Sections in this application" role="navigation">
    <h2 class="govuk-body-m govuk-!-margin-bottom-0">Application sections</h2>
    <ol class="govuk-list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link" href="#become-an-academy">Become an academy</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link" href="#finances">Finances</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link" href="#land-and-building">Land and building</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link" href="#local-authority">Local authority</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link" href="#partnerships-and-affiliations">Partnerships and affiliations</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link" href="#performance-and-safeguarding">Performance and safeguarding</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link" href="#pupil-numbers">Pupil numbers</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link" href="#religious-enducation">Religious education</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link" href="#stakeholders">Stakeholders</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link" href="#the-school">The school</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link" href="#the-schools-leaders">The school's leaders</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link" href="#the-trust">The trust</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link" href="#trust-details">Trust details</a>
        </li>
    </ol>
  </nav>
</aside>


<h2 id="the-school" class="govuk-heading-l govuk-!-margin-top-9">The school</h2>
  
<dl class="govuk-summary-list govuk-!-margin-bottom-2">
    
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">Wise Owl Primary School</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">URN</dt>
    <dd class="govuk-summary-list__value">12345</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> URN</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Registered office address</dt>
    <dd class="govuk-summary-list__value">
      The Barn<br />
      94 Forest Road<br />
      Manchester<br />
      MC4 3TR
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> registered office address</span></a></dd>
  </div>
</dl>

<div class="dfe-back-to-top" data-module="dfe-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state dfe-back-to-top__link" href="#top">
    <svg role="presentation" focusable="false" class="dfe-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>



<h2 id="the-trust" class="govuk-heading-l govuk-!-margin-top-9">The trust</h2>
  
<dl class="govuk-summary-list govuk-!-margin-bottom-2">
 
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Trust name</dt>
    <dd class="govuk-summary-list__value">Wise Owl Trust</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Trust name</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Registered office address</dt>
    <dd class="govuk-summary-list__value">
      The Shed<br />
      93 Forest Road<br />
      Manchester<br />
      MC4 3RR
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> registered office address</span></a></dd>
  </div>

</dl>

<div class="dfe-back-to-top" data-module="dfe-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state dfe-back-to-top__link" href="#top">
    <svg role="presentation" focusable="false" class="dfe-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>



<!---
<div class="govuk-!-margin-top-9">
  <h2 class="govuk-heading-l">Application contributors</h2>
  <h3 class="govuk-heading-m">Application owner</h3>
  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Name</dt>
      <dd class="govuk-summary-list__value">Eve Farmer</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Role</dt>
      <dd class="govuk-summary-list__value">Administrator {at {other school}}</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Email</dt>
      <dd class="govuk-summary-list__value">eve.farmer@seymour.com</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
    </div>
  </dl>
  <h3 class="govuk-heading-m">Contributor 1</h3>
  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Name</dt>
      <dd class="govuk-summary-list__value">Joe Bloggs</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Role</dt>
      <dd class="govuk-summary-list__value">Headteacher</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Email</dt>
      <dd class="govuk-summary-list__value">joe.bloggs@owl.com</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
    </div>
  </dl>
  <h3 class="govuk-heading-m">Contributor 2</h3>
  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Name</dt>
      <dd class="govuk-summary-list__value">Peter Parker</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Role</dt>
      <dd class="govuk-summary-list__value">Secretary</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Email</dt>
      <dd class="govuk-summary-list__value">peter.parker@owl.com</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
    </div>
  </dl>
</div>-->

<h2 id="the-schools-leaders" class="govuk-heading-l govuk-!-margin-top-9">The school's leaders</h2>

<h3 class="govuk-heading-m">Headteacher</h3>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">Eve Farmer</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Email</dt>
    <dd class="govuk-summary-list__value">eve.farmer@owl.com</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>
</dl>

<h3 class="govuk-heading-m">Chair of the governing body</h3>

<dl class="govuk-summary-list govuk-!-margin-bottom-2">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">Peter Parker</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Email</dt>
    <dd class="govuk-summary-list__value">peter.parker@owl.com</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>
</dl>

<div class="dfe-back-to-top" data-module="dfe-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state dfe-back-to-top__link" href="#top">
    <svg role="presentation" focusable="false" class="dfe-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>

<h2 id="performance-and-safeguarding" class="govuk-heading-l govuk-!-margin-top-9">Performance and safeguarding</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-2">
    
  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Have Ofsted inspected the school?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What date did the inspection take place?</dt>
    <dd class="govuk-summary-list__value">23 July 2019</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Has the report been published yet?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>
    
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Give a short description of the inspection's findings</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin convallis lorem sed luctus condimentum. Quisque aliquam rhoncus ligula vel posuere. Vestibulum vitae ex eget arcu tincidunt dignissim. Integer a gravida tortor. Nullam interdum fermentum magna, nec bibendum felis condimentum nec. Pellentesque porta velit vitae ex viverra gravida. Suspendisse vitae eros a ex eleifend pharetra quis at augue. Pellentesque odio nisl, posuere semper venenatis eget, pharetra vitae quam. Duis vestibulum, eros id molestie vehicula, ipsum justo suscipit arcu, quis congue nunc nisi at ante. Pellentesque maximus neque id neque egestas lacinia. Ut lacinia nec turpis nec efficitur. Vestibulum ut neque massa. Vestibulum vel fringilla dolor, nec egestas leo. Donec vitae tincidunt neque, ac semper libero. Nullam eleifend nec odio in varius.</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Are safeguarding investigations being carried out at the school?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Describe the investigation</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin convallis lorem sed luctus condimentum. Quisque aliquam rhoncus ligula vel posuere. Vestibulum vitae ex eget arcu tincidunt dignissim. Integer a gravida tortor. Nullam interdum fermentum magna, nec bibendum felis condimentum nec. Pellentesque porta velit vitae ex viverra gravida. Suspendisse vitae eros a ex eleifend pharetra quis at augue. Pellentesque odio nisl, posuere semper venenatis eget, pharetra vitae quam. Duis vestibulum, eros id molestie vehicula, ipsum justo suscipit arcu, quis congue nunc nisi at ante. Pellentesque maximus neque id neque egestas lacinia. Ut lacinia nec turpis nec efficitur. Vestibulum ut neque massa. Vestibulum vel fringilla dolor, nec egestas leo. Donec vitae tincidunt neque, ac semper libero. Nullam eleifend nec odio in varius.</dd>
  </div>

</dl>

<div class="dfe-back-to-top" data-module="dfe-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state dfe-back-to-top__link" href="#top">
    <svg role="presentation" focusable="false" class="dfe-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>


<h2 id="pupil-numbers" class="govuk-heading-l govuk-!-margin-top-9">Pupil numbers</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-2">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What is the school's published admissions number (PAN}?</dt>
    <dd class="govuk-summary-list__value">12345</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">What are the projected pupil numbers for the academy’s second year?</dt>
    <dd class="govuk-summary-list__value">5</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">What are the projected pupil numbers for the academy’s first year?</dt>
    <dd class="govuk-summary-list__value">10</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What are the projected pupil numbers for the academy’s third year?</dt>
    <dd class="govuk-summary-list__value">15</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What are these estimates based on?</dt>
    <dd class="govuk-summary-list__value">Electram principes ne eos, solum inermis his id. No pro odio nostrud voluptatum. Mea an facilis quaestio. Quo ne sumo homero, viris numquam inciderint ius no. Est movet corpora vituperatoribus ex, eu mazim prodesset pri.</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>
</dl>

<div class="dfe-back-to-top" data-module="dfe-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state dfe-back-to-top__link" href="#top">
    <svg role="presentation" focusable="false" class="dfe-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>



<h2 id="finances" class="govuk-heading-l govuk-!-margin-top-9">Finances</h2>

<h3 class="govuk-heading-m">Capital and revenue</h3>
  
<dl class="govuk-summary-list govuk-!-margin-bottom-2">
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What is the school's revenue at the end of the last financial year?</dt>
    <dd class="govuk-summary-list__value">-£20,000.00</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What is the school’s projected revenue for this financial year?</dt>
    <dd class="govuk-summary-list__value">-£20,000.00</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What is the school's projected revenue for the the next financial year?</dt>
    <dd class="govuk-summary-list__value">£30,000.00</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>
</dl>

<h3 class="govuk-heading-m govuk-!-margin-top-9">Leases</h3>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Does the school have any leases?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

</dl>


<h4 class="govuk-heading-s">Lease 1</h4>
  
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Lease provider</dt>
    <dd class="govuk-summary-list__value">Bank of the World</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>
  
  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">What's the financial lease for?</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Repayment value</dt>
    <dd class="govuk-summary-list__value">£30,000.00</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Interest rate</dt>
    <dd class="govuk-summary-list__value">5.0%</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Value of the payments made to date</dt>
    <dd class="govuk-summary-list__value">£1,000.00</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Value of the assets at the start of the finance lease agreement</dt>
    <dd class="govuk-summary-list__value">£5,000.00</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Who is responsible for the insurance, repair and maintenance of the assets covered?</dt>
    <dd class="govuk-summary-list__value">Bob</dd>
  </div>

</dl>

<h4 class="govuk-heading-s">Lease 2</h4>
<dl class="govuk-summary-list govuk-!-margin-bottom-2">

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Lease provider</dt>
    <dd class="govuk-summary-list__value">Bank of the World</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>
  
  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">What's the financial lease for?</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Repayment value</dt>
    <dd class="govuk-summary-list__value">£30,000.00</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Interest rate</dt>
    <dd class="govuk-summary-list__value">5.0%</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Value of the payments made to date</dt>
    <dd class="govuk-summary-list__value">£1,000.00</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Value of the assets at the start of the finance lease agreement</dt>
    <dd class="govuk-summary-list__value">£5,000.00</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Who is responsible for the insurance, repair and maintenance of the assets covered?</dt>
    <dd class="govuk-summary-list__value">Bob</dd>
  </div>

</dl>

<div class="dfe-back-to-top" data-module="dfe-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state dfe-back-to-top__link" href="#top">
    <svg role="presentation" focusable="false" class="dfe-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>

<h3 class="govuk-heading-m">Loans</h3>
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Is the school repaying any loans?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

</dl>

<h4 class="govuk-heading-s">Loan 1</h4>
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Loan provider</dt>
    <dd class="govuk-summary-list__value">Bank of the World</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>
  
  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">What's the financial loan for?</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Total amount</dt>
    <dd class="govuk-summary-list__value">£30,000.00</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Interest rate</dt>
    <dd class="govuk-summary-list__value">5.0%</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Purpose of the loan</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Repayment schedule</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum</dd>
  </div>

</dl>

<h4 class="govuk-heading-s">Loan 2</h4>
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Loan provider</dt>
    <dd class="govuk-summary-list__value">Bank of the World</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>
  
  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">What's the financial loan for?</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Total amount</dt>
    <dd class="govuk-summary-list__value">£30,000.00</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Interest rate</dt>
    <dd class="govuk-summary-list__value">5.0%</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Purpose of the loan</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Repayment schedule</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum</dd>
  </div>

</dl>

<div class="dfe-back-to-top" data-module="dfe-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state dfe-back-to-top__link" href="#top">
    <svg role="presentation" focusable="false" class="dfe-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>


<h2 id="partnerships-and-affiliations" class="govuk-heading-l govuk-!-margin-top-9">Partnerships and affiliations</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-2">
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Is the school part of a federation?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Is the school supported by a body that appoints governors?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name of the body</dt>
    <dd class="govuk-summary-list__value">Lorem Ipsum</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Provide evidence that they consent</dt>
    <dd class="govuk-summary-list__value">file_name.pdf</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">List your main feeder schools</dt>
    <dd class="govuk-summary-list__value">Electram principes ne eos, solum inermis his id. No pro odio nostrud voluptatum. Mea an facilis quaestio. Quo ne sumo homero, viris numquam inciderint ius no. Est movet corpora vituperatoribus ex, eu mazim prodesset pri.</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

</dl>

<div class="dfe-back-to-top" data-module="dfe-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state dfe-back-to-top__link" href="#top">
    <svg role="presentation" focusable="false" class="dfe-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>


<h2 id="religious-education" class="govuk-heading-l govuk-!-margin-top-9">Religious education</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-2">
  
  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Is your school linked to a diocese?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name of the diocese</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Provide proof that the diocese consents to the school converting</dt>
    <dd class="govuk-summary-list__value">file_name.pdf</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Has SACRE made the school exempt from providing broadly Christian collective worship?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">When does the exception end?</dt>
    <dd class="govuk-summary-list__value">22 2 2023</dd>
  </div>

</dl>

<div class="dfe-back-to-top" data-module="dfe-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state dfe-back-to-top__link" href="#top">
    <svg role="presentation" focusable="false" class="dfe-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>


<h2 id="land-and-building" class="govuk-heading-l govuk-!-margin-top-9">Land and building</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-2">
  
  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Do you know who owns the school's buildings and land?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Who owns the buildings and the land?</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Are there any ongoing or planned building works?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Provide details of the works, how they’ll be funded and whether the funding will be affected by the conversion.</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">When is the work scheduled to be completed?</dt>
    <dd class="govuk-summary-list__value">22 2 2023</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Are there any shared facilities on site?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">List the facilities and the school's plans for them after converting.</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Has the school had any grants from Sport England, the Big Lottery Fund, or the Football Federation?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Which bodies awarded the grants and what facilities did they fund?</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Is the school part of a Private Finance Initiative (PFI) scheme?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What kind of a PFI scheme?</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Is the school part of a Private Finance Initiative (PFI) scheme?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What kind of a PFI scheme?</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Is the school part of the Priority School Building Programme?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

</dl>

<div class="dfe-back-to-top" data-module="dfe-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state dfe-back-to-top__link" href="#top">
    <svg role="presentation" focusable="false" class="dfe-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>


<h2 id="local-authority" class="govuk-heading-l govuk-!-margin-top-9">Local authority</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-2">
  
  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Has the school been told that it is part of a local authority reorganisation?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Give details of  the reorganisation</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Has the school been told that it is part of local authority closure plans?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Give details of the closure plans</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum</dd>
  </div>

</dl>

<div class="dfe-back-to-top" data-module="dfe-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state dfe-back-to-top__link" href="#top">
    <svg role="presentation" focusable="false" class="dfe-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>



<h2 id="trust-details" class="govuk-heading-l govuk-!-margin-top-9">Trust details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-2">
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What trust will the school{s} join?</dt>
    <dd class="govuk-summary-list__value">
      Wise Owl Trust (23345)<br />
      The Shed<br />
      93 Forest Road<br />
      Manchester<br />
      MC4 3RR
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Provide proof that the trust consents to the school{s} joining</dt>
    <dd class="govuk-summary-list__value">file_name.pdf</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row  govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Were any other trusts considered?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Give the name of another trust that was considered</dt>
    <dd class="govuk-summary-list__value">
      Clever Trust (12345)<br />
      29 Acacia Road<br />
      Manchester<br />
      MC1 123<br />
    </dd>
  </div>

  <div class="govuk-summary-list__row  govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Was a third trusts considered?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Give the name of the third trust that was considered</dt>
    <dd class="govuk-summary-list__value">
      Clever Academies (12345)<br />
      30 Acacia Road<br />
      Manchester<br />
      MC1 456<br />
    </dd>
  </div>

  <div class="govuk-summary-list__row  govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Will the trust change any of its members or their roles because of the school joining?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Describe the changes that will happen</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et mollis justo. Duis sit amet sollicitudin odio. Donec lobortis urna nibh, ac lacinia risus molestie a. Cras a consectetur mauris. Fusce accumsan nisi vel mi blandit laoreet. Fusce eu mattis ligula. Proin faucibus pharetra augue, eget blandit justo porta at. Morbi bibendum felis vel dui vulputate ultricies. Praesent venenatis vestibulum urna laoreet feugiat.</dd>
  </div>

</dl>

<div class="dfe-back-to-top" data-module="dfe-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state dfe-back-to-top__link" href="#top">
    <svg role="presentation" focusable="false" class="dfe-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>



<h2 id="stakeholders" class="govuk-heading-l govuk-!-margin-top-9">Stakeholders</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-2">
  
  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Has the school’s governing body consulted with its stakeholders?</dt>
    <dd class="govuk-summary-list__value">No</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">When does it plan to consult?</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet</dd>
  </div>

  <div class="govuk-summary-list__row ">
    <dt class="govuk-summary-list__key">Has the Equalities Impact Assessment (EIA) been carried out by the school’s governing body?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Did the EIA’s findings suggest that people with protected characteristics are more likely to be negatively affected by this change?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Give a description of how the change will impact these people</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet consectetur adipiscing elit</dd>
  </div>

</dl>

<div class="dfe-back-to-top" data-module="dfe-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state dfe-back-to-top__link" href="#top">
    <svg role="presentation" focusable="false" class="dfe-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>




<h2 id="become-an-academy" class="govuk-heading-l govuk-!-margin-top-9">Become an academy</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-2">
  
  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Is the school planning to change its name when it becomes an academy?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What name will be proposed??</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet</dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
    <dt class="govuk-summary-list__key">Do you have a date in mind for the conversion?</dt>
    <dd class="govuk-summary-list__value">Yes</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Month, year</dt>
    <dd class="govuk-summary-list__value">3 2023</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Why are you aiming to convert on this date?</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet consectetur adipiscing elit</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Why was this trust chosen?</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet consectetur adipiscing elit</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What benefits will the school bring to the trust?</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet consectetur adipiscing elit</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Who will be responsible for the new academy's DfE Sign-in account?</dt>
    <dd class="govuk-summary-list__value">Me</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Give proof that the board of governors agrees to the school's conversion</dt>
    <dd class="govuk-summary-list__value">file_name.pdf</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Is there anything else you think we need to know about the conversion?</dt>
    <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet consectetur adipiscing</dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> value</span></a></dd>
  </div>

</dl>

<div class="dfe-back-to-top" data-module="dfe-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state dfe-back-to-top__link" href="#top">
    <svg role="presentation" focusable="false" class="dfe-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>
  

{% endblock %}
