{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Apply to become an academy prototype site</h1>
    <p class="govuk-body-l">This is where the Department for Education Service Delivery Division (SDD) Apply to become an academy (A2B) service prototypes live.</p>
    
    <h2 class="govuk-heading-l">Sprint 16</h2>
    <p><a href="/16/start">Single school application summary screen</a></p>

    <h2 class="govuk-heading-l">Sprints 2 and 3</h2>
    <p><a href="2">Apply to become an academy - Prototype review V1.1</a></p>
    <p>Prototypes created in February and March 2022 to address accessibility and design issues.</p>

  </div>
</div>

{% endblock %}
