{% extends "layouts/main.html" %}

{% set bodyClasses = "sprint-20" %}

{% block header %}
{{ govukHeader({
  serviceName: "Apply to become an academy",
  serviceUrl: "#"
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: '<a class="govuk-link" href="#">Get help or give feedback on this service (opens in a new tab) </a>'
}) }}
<a href="#" onclick="javascript:window.history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
  What is this person's role?
</h1>

{{ data['new-application']}}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="are-these-details-correct" method="post" novalidate>
      {% set somethingElseHtml %}
        {{ govukInput({
          id: "something-else",
          name: "something-else",
          type: "text",
          autocomplete: "text",
          classes: "govuk-!-width-one-third",
          label: {
            text: "What is your role?"
          }
        }) }}
      {% endset -%}
      {% if(data['what-are-you-applying-to-do'] !== 'yes') %}
      {{ govukRadios({
        name: "what-is-your-role",
        items: [
          {
            value: "chair-of-governors",
            text: "Chair of governors"
          },
          {
            value: "headteacher",
            text: "Headteacher"
          },
          {
            value: "something-else",
            text: "Something else",
            conditional: {
              html: somethingElseHtml
            }
          }
        ]
      }) }}
      {% else %}
      {{ govukRadios({
        name: "what-is-your-role",
        items: [
          {
            value: "chair-of-governors",
            text: "Chair of governors"
          },
          {
            value: "headteacher",
            text: "Headteacher"
          },
          {
            value: "something-else",
            text: "Something else",
            conditional: {
              html: somethingElseHtml
            }
          },
          {
            divider: "[or]"
          },
          {
            value: "not-at-the-school",
            text: "[Something else, not at the school]",
            conditional: {
              html: somethingElseHtml
            }
          }
        ]
      }) }}
      <input type="hidden" name="add-a-school" value="add-a-school" />
      {% endif %}
      
      <div class="govuk-inset-text">
        {% if(data['do-you-want-to-apply-to-convert-other-schools'] !== 'yes') %}
        If your school is unable to either join an existing trust or form one with other school, you should contact <a href='#'>your Regional Director</a>
        {% else %}
        If [the] school is unable to either join an existing trust or form one with other school, you should contact <a href='#'>[the] Regional Director</a>
        {% endif %}
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
