{% extends "layouts/main.html" %}

{% block pageTitle %}
  Apply to become an Academy
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
      <div class="govuk-grid-row">
       

        <div class="govuk-grid-column-full">
         <h1 class="govuk-heading-l">Your applications</h1>
          {{ govukButton({
            text: "Start new application"
          }) }}
          
         
          
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Applications in progress (3)</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header app-custom-class">Application</th>
                <th scope="col" class="govuk-table__header app-custom-class">Trust name</th>
                <th scope="col" class="govuk-table__header app-custom-class">Academy name</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
                  <a href="#" class="govuk-link">Join a multi-academy trust<br> A2B_0576</a></th>
                <td class="govuk-table__cell">The Diocese of Ely multi-academy trust</td>
                <td class="govuk-table__cell">Cambridge Regional College</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
                  <a href="#" class="govuk-link">Form a new multi-academy trust A2B_7697</a></th>
                <td class="govuk-table__cell">Cambs multi-academy example trust</td>
                <td class="govuk-table__cell">Fen Ditton primary school</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
                  <a href="#" class="govuk-link">Form a new single academy trust A2B_0576</a></th>
                <td class="govuk-table__cell">Single academy trust example</td>
                <td class="govuk-table__cell">King’s College London Maths school</td>
              </tr>
            </tbody>
            
          </table>
          
<br><br>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Download past applications (1)</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header app-custom-class">Application</th>
                <th scope="col" class="govuk-table__header app-custom-class">Trust name</th>
                <th scope="col" class="govuk-table__header app-custom-class">Academy name</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
                  <a href="#" class="govuk-link">Form a new multi-academy trust<br>A2B_8458</a></th>
                <td class="govuk-table__cell">Harpenden multi-academy trust</td>
                <td class="govuk-table__cell">St. George's school</td>
              </tr>
              </tbody>
              </table>
          
        </div>
      </div>
  
    </main>
  </div>

  
  {% endblock %}
 