
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Apply to become an academy
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply to become an academy - Prototype review V1.1
      </h1>
      <p>
        This prototype includes individual pages from the Apply to become an academy service. The pages have been re-worked to address accessibility and design issues. As well as to include pages with new content.
      </p>

      <p>
      The following list contains the links to the static pages.
      </p>

      <h2 class="govuk-heading-m">Accessibility Issues</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/2/applications.html">Issue 06: Duplicated links on Your applications page (17 March 2022)</a>
        </li> 
        <li>
          <a href="/2/invite.html">Issue 07: Invite a contributor (18 Feb 2022)</a>
        </li>
        <li>
          <a href="/2/about.html">Issue 08: About the conversion (10 February 2022)</a>
        </li>
        <li>
          <a href="/2/upload.html">Issue 11: Upload file example (25 February 2022)</a>
        </li> 
      </ul>
      <h2 class="govuk-heading-m">UI improvements</h2>
      <ul class="govuk-list govuk-list--bullet">
       
        <li>
          <a href="/2/feedback.html">64924: Add component to request feedback (4 March 2022)</a>
        </li> 
        <li>
          <a href="/2/banner.html">90850: Add temporary maintenance notification banner (16 March 2022) </a>
        </li> 
        <li>
          <a href="/2/targetDate.html">71622: Conversion target date (18 March 2022)</a>
        </li> 
     
      </ul>
      
      <h2 class="govuk-heading-m">Privacy</h2>
      
      <ul class="govuk-list govuk-list--bullet">
        
        <li>
          <a href="/2/privacy.html">Privacy statement (18 March 2022)</a>
        </li>

      </ul>

      <h2 class="govuk-heading-m">Design History</h2>
      
      <ul class="govuk-list govuk-list--bullet">
       
        <li>
          <a href="/2/https://sdd-design-history.netlify.app/a2b-external/" class="govuk-link" rel="noreferrer noopener" target="_blank">A design history for the SDD services (opens in new tab)</a>
        </li> 
     
      </ul>

    </div>
  </div>

{% endblock %}
