{% extends "layouts/main.html" %}

{% block pageTitle %}
  Trust consent - Apply to become an academy
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="/index.html" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

        {% set html %}
          <h3 class="govuk-notification-banner__heading">
            File uploaded successfully
          </h3>
          <p class="govuk-body">filename.docx</p>
        {% endset %}
        
        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        <h1 class="govuk-heading-l">
         <span class="govuk-caption-l">St George's school, Harpenden Academy Trust (step 1 of 3)</span>
          Trust consent
        </h1>
        <h2 class="govuk-heading-m">Upload evidence that the trust consents to the school joining</h2>
        <p class="govuk-body">
        This can be either a letter of consent from the trust, or the minutes of their board meeting.
        </p>
        {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
        {{ govukInsetText({
        text: "The application cannot be submitted without this. You can carry on the application and come back to this later."
        }) }}
      
<!-- 
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{{ govukFileUpload({
  id: "file-upload-1",
  name: "file-upload-1",
  label: {
    text: "Upload a file"
  },
  hint: {
    text: "File formats supported: docx, doc, pptx, pdf."
  }
}) }}
-->

<h2 class="govuk-heading-m">Uploaded files</h2>
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "filename.docx"
      },
      value: {
        text: "2.3MB"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "delete",
            visuallyHiddenText: "delete filename.docx"
          }
        ]
      }
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue"
}) }}

</div>
</div>
</main>
</div>

<br>
<a href="/index.html" class="govuk-back-link">Back</a>
{% endblock %}
